<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <section class="section">
      <div class="container">
        <h1 class="title is-1">Vonage Challenge</h1>
        <h2 class="subtitle">Application demo</h2>
      </div>
    </section>
    <section class="section">
      <div class="columns">
        <div class="column">
          <div class="container">
            <h3 class="title is-3">Agents</h3>
            <h4 class="subtitle">Total: {{ agents$ | async }}</h4>
            <h4 class="subtitle">Active: {{ activeAgents$ | async }}</h4>
            <div class="buttons">
              <button class="button is-success" (click)="addAgent()">Add</button>
              <button class="button is-danger" (click)="removeAgent()">Remove</button>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="container">
            <h3 class="title is-3">Supervisors</h3>
            <h4 class="subtitle">Total: {{ supervisors$ | async }}</h4>
            <h4 class="subtitle">Active: {{ activeSupervisors$ | async }}</h4>
            <div class="buttons">
              <button class="button is-success" (click)="addSupervisor()">Add</button>
              <button class="button is-danger" (click)="removeSupervisor()">Remove</button>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="container">
            <h3 class="title is-3">Managers</h3>
            <h4 class="subtitle">Total: {{ managers$ | async }}</h4>
            <h4 class="subtitle">Active: {{ activeManagers$ | async }}</h4>
            <div class="buttons">
              <button class="button is-success" (click)="addManager()">Add</button>
              <button class="button is-danger" (click)="removeManager()">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>